{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reuters Search Engine</title>

    <link rel="stylesheet" href="{% static 'plugins/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/engine_interface.css' %}">

    <!-- Plugin Scripts -->
    <script src="{% static 'plugins/jquery/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'plugins/popper_js/popper-js-1.12.5.js' %}"></script>
    <script src="{% static 'plugins/bootstrap/js/bootstrap.min.js' %}"></script>

    <script src="{% static 'js/engine_interface.js' %}"></script>

</head>
<body>

<div id="search-container" class="container-fluid main-container">

    <div>
        <div id="logo-header">
            <img id="engine_logo" src="{% static 'img/logo_engine.png' %}" alt="Icon Reuters">
            <h1>Reuters Collection Search Engine</h1>
        </div>

        <div class="search-controls">
            <div class="input-group search-box">
                <input id="ipt-search-box" type="text" class="form-control ipt-search">
                <div class="input-group-btn input-search-box">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false" value="AND">
                        AND
                    </button>
                    <ul class="dropdown-menu dropdown-menu-left dropdown-opts">
                        <li class="dropdown-item">AND</li>
                        <li class="dropdown-item">OR</li>
                    </ul>
                </div>
            </div>
            <div id="loading-img"></div>
            <button id="search-btn" type="button" class="btn btn-search" onclick="return search_collect()">
                <i class="fa fa-search" aria-hidden="true"></i>
                Dig in Collection
            </button>
        </div>
    </div>


</div>

<div id="results-container" class="container-fluid">
    <div id="results-time">Query Time: <span class="time"></span></div>
    <div class="container-body"></div>
</div>

<!-- MODALS DEFINITION -->
<div id="msg-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="msg-title" class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div id="msg-icon" class="d-inline-block">
                    <i class="fa" aria-hidden="true"></i>
                </div>
                <div id="msg-text" class="d-inline-block"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<div id="doc-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="doc-modal-title" class="modal-title"></h4><br>
                <h6 id="doc-modal-date" class="modal-date"></h6>
            </div>
            <div class="modal-body">
                <div id="doc-modal-text"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>